h1{
    text-align: center;
    text-decoration: underline;
    background-color: dimgray; /* rojo elegante */
    color: black;
    padding: 20px;
    border-radius: 10px;
}
p,h2,th,td,label{
    color: black;
}
p{
    text-align: center;
}
div.relativo {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 40px;
    border: 3px solid black;
    color: black;
    background-color: darkslategrey;
    text-align: center;
}
body{
    background-color: rgb(39, 29, 53);
    font-family: Arial, sans-serif;
}
.caja {
    background-color: dimgray;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.contenido {
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
    text-decoration: underline;
}
